$variant: 'light';
$laptop: 'true';
$color: 'blue';
$headerbar: 'dark';

@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/apps';
@import 'sass/mate';
@import 'sass/budgie';
@import 'sass/lightdm';
@import 'sass/colors-public';
