// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

$higher_opacity: 0.9;
$middle_opacity: 0.6;
$lower_opacity: 0.3;

$enabled_opacity: 0.75;
$hint_opacity: 0.6;
$disabled_opacity: 0.4;

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

// based color palette:
// https://material.google.com/style/color.html#color-color-palette
// based border and highlight values:
// https://material.google.com/style/icons.html#icons-product-icons

// Foreground colors
$light_contrast_color: scale-alpha(#000000, 0.8);
$dark_contrast_color: #FFFFFF;
$darker_contrast_color: #E0E0E0;
$darkest_contrast_color: #000000;

$fg_color: if($variant == 'light', $light_contrast_color, $dark_contrast_color);
$secondary_fg_color: scale-alpha($fg_color, $enabled_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $hint_opacity);

$inversed_fg_color: $dark_contrast_color;
$secondary_inversed_fg_color: scale-alpha($inversed_fg_color, $enabled_opacity);
$tertiary_inversed_fg_color: scale-alpha($inversed_fg_color, $hint_opacity);

$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);
$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$disabled_tertiary_fg_color: scale-alpha($tertiary_fg_color, $disabled_opacity);

$disabled_inversed_fg_color: scale-alpha($inversed_fg_color, $disabled_opacity);
$disabled_secondary_inversed_fg_color: scale-alpha($secondary_inversed_fg_color, $disabled_opacity);
$disabled_tertiary_inversed_fg_color: scale-alpha($tertiary_inversed_fg_color, $disabled_opacity);

// Background colors
$bg_color: if($variant =='dark', #303030, #F5F5F5);
$base_color: if($variant =='dark', #353535, #FFFFFF);
$alt_base_color: if($variant =='dark', #323232, #F2F2F2);

$lighter_bg_color: if($variant =='dark', #3e3e3e, #ffffff);
$darker_bg_color: if($variant =='dark', #282828, #EEEEEE);
$darker_fg_color: if($variant =='light', #222222, #DDDDDD);

// Headerbar colors

$headerbar_bg_color: #444444;

@if $variant =='light' and $headerbar =='dark' { $headerbar_bg_color: #444444; }
@if $variant =='light' and $headerbar =='light' { $headerbar_bg_color: #EEEEEE; }
@if $variant =='dark' { $headerbar_bg_color: #424242; }

$headerbar_fg_color: if($headerbar =='dark', $dark_contrast_color, $fg_color);
$secondary_headerbar_fg_color: if($headerbar =='dark', $secondary_inversed_fg_color, $secondary_fg_color);
$disabled_headerbar_fg_color: if($headerbar =='dark', $disabled_secondary_inversed_fg_color, $disabled_fg_color);

$primary_color: #787878;
$accent_color: if($variant =='light', #666666, #fafafa);

@if $color =='tang' { $primary_color: #FF6C42; $accent_color: #ff6767; }
@if $color =='mahe' { $primary_color: #88CC00; $accent_color: #96E000; }
@if $color =='sakura' { $primary_color: #E76EAA; $accent_color: #FF94C9; }
@if $color =='blue' { $primary_color: #51ADE0; $accent_color: #7DC8F0; }
@if $color =='azul' { $primary_color: #2196F3; $accent_color: #18B8FF; }
@if $color =='jade' { $primary_color: #2eb37b; $accent_color: #1bc674; }
@if $color =='white' { $primary_color: #555555; $accent_color: if($variant == 'light', #666666, #fafafa); }

$alt_primary_color: if($variant == 'light', darken($primary_color, 8%), lighten($primary_color, 8%));

$menu_bg_color: $base_color;
$menu_fg_color: $fg_color;
$disabled_menu_fg_color: if($variant == 'light', rgba(#000, 0.5), rgba(#fff, 0.5));

$tab_color: $primary_color;
$secondary_titlebar_color: $primary_color;
$topbar_bg_color: #262626;
$topbar_fg_color: $inversed_fg_color;
$alt_topbar_fg_color: $darker_contrast_color;

// Misc colors
$track_color: gtkalpha(currentColor, 0.15);
$semi_track_color: gtkalpha(currentColor, 0.12);
$zero_track_color: gtkalpha(currentColor, 0);
$row_track_color: gtkalpha(currentColor, 0.05);

$borders_color: if($variant == 'light', scale-alpha(#000000, 0.15), scale-alpha(#ffffff, 0.15));
$solid_borders_color: if($variant == 'light', darken($bg_color, 10%), lighten($bg_color, 10%));
$header_borders_color: $borders_color;

$highlight_color: if($variant == 'light', scale-alpha(#FFFFFF, 0.4), scale-alpha(#FFFFFF, 0.3));
$secondary_highlight_color: scale-alpha(#FFFFFF, 0.1);

$placeholder_text_color: mix($fg_color, $base_color, percentage($hint_opacity));

$link_color: $primary_color;
$link_visited_color: #E040FB;

$warning_color: #ff4e00;
$error_color: #DD2C00;
$success_color: #00C853;

$suggested_color: #4CAF50;
$destructive_color: #FF5252;

$info_bg_color: #66BB6A;
$question_bg_color: #42A5F5;
$warning_bg_color: #FFA726;
$error_bg_color: #EF5350;
