$asset_suffix: if($variant=='dark', '-dark', '');
$extra_background_clip: if($variant == 'light', padding-box, border-box);

$small_size: if($laptop == 'true', 20px, 22px);
$medium_size: if($laptop == 'true', 30px, 34px);
$large_size: if($laptop == 'true', 38px, 42px);

$container_padding: 6px;

$bar_size: 4px;
$menuitem_size: 28px;

$line_size: if($laptop == 'true', 0 0 2 / 0 0 2px, 0 0 3 / 0 0 3px);
$md_radius: 3px;
$circular_radius: 100px;

$shortest_duration: 100ms;
$shorter_duration: 200ms;
$longer_duration: 300ms;
$ripple_duration: 450ms;
$ripple_opacity_duration: 1000ms;

$normal_curve: cubic-bezier(0.05, 0.3, 0.6, 1);
$standard_curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration_curve: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration_curve: cubic-bezier(0.4, 0.0, 1, 1);
$sharp_curve: cubic-bezier(0.4, 0.0, 0.6, 1);

$shortest_transition: all $shortest_duration $deceleration_curve;
$shorter_transition: all $shorter_duration $deceleration_curve;
$longer_transition: all $longer_duration $deceleration_curve;
$shadow_transition: box-shadow $shorter_duration $deceleration_curve;

* {
  padding: 0;
  background-clip: padding-box;

  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: $error_color;

  // The size for scrollbars. The slider is 2px smaller, but we keep it
  // up so that the whole area is sensitive to button presses for the
  // slider. The stepper button is larger in both directions, the slider
  // only in the width

  -GtkScrolledWindow-scrollbar-spacing: 0;

  -GtkToolItemGroup-expander-size: 11;

  -GtkWidget-text-handle-width: 24;
  -GtkWidget-text-handle-height: 24;

  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;

  // We use the outline properties to signal the focus properties
  // to the adwaita engine: using real CSS properties is faster,
  // and we don't use any outlines for now.

  outline-style: dashed;
  outline-width: 1px;
  outline-color: $track_color;
  outline-offset: -4px;
  -gtk-outline-radius: $md_radius;

  -gtk-secondary-caret-color: $primary_color;
}


/***************
 * Base States *
 ***************/
.background {
  background-color: $bg_color;
  color: $fg_color;
}

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/

*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  background-color: $bg_color;
  color: $fg_color;

  &:hover {
    background-color: darken($bg_color, 5%);
    color: $fg_color;
  }

  &:active {
    background-color: darken($bg_color, 10%);
    color: $fg_color;
  }

  &:disabled {
    background-color: $bg_color;
    color: $disabled_fg_color;
  }

  &:selected {
    background-color: $primary_color;
    color: $inversed_fg_color;
  }
}

.view,
%view {
  @extend row.activatable;

  background-color: $base_color;
  color: $fg_color;

  &:hover, &:active, &:selected { border-radius: 2px; }

  &:disabled {
    // background-color: $alt_base_color;
    color: $disabled_fg_color;
  }

  &:selected { @extend %selected_items; }
}

.view,
textview {
  text {
    // @extend %view;

    background-color: $base_color;
    color: $fg_color;

    &:disabled {
      // background-color: $alt_base_color;
      color: $disabled_fg_color;
    }

    selection { @extend %selected_items; }
  }
}

textview border {
  background-color: $alt_base_color;
  color: $tertiary_fg_color;
}

iconview { @extend .view; }

.rubberband,
rubberband {
  border: 1px solid $alt_primary_color;
  background-color: scale-alpha($alt_primary_color, $lower_opacity);
}

flowbox {
  rubberband { @extend rubberband; }

  flowboxchild {
    outline-offset: -2px;
    padding: 4px;
    border-radius: 2px;

    &:selected { @extend %selected_items; }
  }
}

label {
  caret-color: currentColor; // this shouldn't be needed.

  &.separator {
    @extend .dim-label;

    color: $fg_color;
  }

  row:selected &,
  &:selected { @extend %nobg_selected_items; }

  selection {
    background-color: $primary_color;
    color: $inversed_fg_color;
  }

  &:disabled {
    color: $disabled_fg_color;

    selection { @extend %selected_items:disabled; }

    tab &,
    button &,
    menuitem & { color: inherit; }
  }
}

.dim-label { opacity: $hint_opacity; }

assistant {
  .sidebar {
    padding: 4px 0;
    // background-color: $base_color;
    // border-top: 1px solid $borders_color;
  }

  // &.csd .sidebar { border-top-style: none; }

  .sidebar label {
    min-height: $small_size;
    padding: 0 12px;
    color: $tertiary_fg_color;
    font-weight: 500;

    &.highlight { color: $fg_color; }
  }
}

%osd, .osd { opacity: $higher_opacity; }


/*********************
 * Spinner Animation *
 *********************/
@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

@keyframes spin_colors {
  1% { color: $info_bg_color; } 25% { color: $info_bg_color; }
  26% { color: $question_bg_color; } 50% { color: $question_bg_color; }
  51% { color: $warning_bg_color; } 75% { color: $warning_bg_color; }
  76% { color: $error_bg_color; } 100% { color: $error_bg_color; }
}

spinner {
  background: none;
  opacity: 0; // non spinning spinner makes no sense
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');

  &:checked {
    opacity: 1;
    animation: spin 1s linear infinite, spin_colors 4s linear infinite;

    &:disabled { opacity: $disabled_opacity; }
  }
}


/****************
 * Text Entries *
 ****************/
%entry,
entry {
  %entry_basic, & {
    min-height: $medium_size;
    padding: 0 8px;
    border-radius: 2px;
    @include entry(normal);

    &:focus { @include entry(focus); }
    &:disabled { @include entry(disabled); }

    &.flat {
      border-radius: 0;
      @include entry(normal);

      &:focus { @include entry(focus); }
      &:disabled { @include entry(disabled); }
    }

    image { // icons inside the entry
      // @extend %simple_flat_button;

//      min-height: $small_size;
//      min-width: $small_size;
//      border-radius: $md_radius;
//      -gtk-outline-radius: $md_radius;
      color: gtkalpha(currentColor, $enabled_opacity);

      &:hover, &:active { color: currentColor; }
      &:disabled { color: gtkalpha(currentColor, $hint_opacity); }

       &.left {
        margin-left: ($medium_size - 16px) / 2 - 8px;
        margin-right: 6px;
      }

      &.right {
        margin-left: 6px;
        margin-right: ($medium_size - 16px) / 2 - 8px;
      }
    }

    undershoot {
      &.left { @include undershoot(left); }
      &.right { @include undershoot(right); }
    }

    selection { @extend %selected_items; }

    // entry error and warning style
    @each $e_type, $e_color in (error, $error_color),
                               (warning, $warning_color) {
      &.#{$e_type} {
        @include entry(normal, $e_color);

        &:focus { @include entry(focus, $e_color); }
        &:disabled { @include entry(disabled, $e_color); }

        &.flat {
          @include entry(normal, $e_color);

          &:focus { @include entry(focus, $e_color); }
          &:disabled { @include entry(disabled, $e_color); }
        }
      }
    }

    &:drop(active) {
      // box-shadow: inset 0 0 0 2px $accent_color;
    }

    .osd & { }
  }

  progress {
    margin: 2px (2px - 8px);
    border-style: none none solid;
    border-width: 2px;
    border-color: $primary_color;
    // border-radius: 0;
    // box-shadow: none;
    background-color: transparent;
    // background-image: none;
  }

   // linked entries
  .linked:not(.vertical) > & { @extend %linked; }

  // Vertically linked entries
  .linked.vertical > & { @extend %linked_vertical; }

  .linked:not(.vertical) > &.flat,
  .linked.vertical > &.flat { border-radius: 0; }

  .linked:not(.vertical) > &:focus + button { border-color: $primary_color; }
  .linked:not(.vertical) > &:focus + button + button { border-color: $primary_color; }
  .linked:not(.vertical) > &:drop(active) + button { border-color: $warning_bg_color; }
}

treeview entry {
  &.flat, & {
    min-height: 0;
    padding: 2px;
    border-radius: 0;
    background-color: $base_color;

    &, &:focus {
      border-image: none;
      box-shadow: none;
    }
  }
}

.entry-tag {
  $tag_height: 24px;
  $tag_margin: ($medium_size - $tag_height) / 2;

  margin: $tag_margin; // instead of min-height: $tag_height;
  border-radius: 3px;
  box-shadow: none;
  background-color: $primary_color;
  color: $inversed_fg_color;
  border: none;

  &:hover { background-color: lighten($primary_color, 5%); }

  // side margins: compensate the entry padding with a negative margin
  // then the negative margin itself
  :dir(ltr) & {
    margin-left: 8px;
    margin-right: $tag_margin - 8px;
    padding-left: 8px;
    padding-right: ($tag_height - 16px) / 2;
  }

  :dir(rtl) & {
    margin-left: $tag_margin - 8px;
    margin-right: 8px;
    padding-left: ($tag_height - 16px) / 2;
    padding-right: 8px;
  }

  // seems any sizing doesn't work
  &.button {
    box-shadow: none;
    border: none;
    background-color: transparent;

    &:not(:hover):not(:active) { color: $secondary_inversed_fg_color; }
  }
}

/***********
 * Buttons *
 ***********/
// stuff for .needs-attention
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.001,
                                    to($accent_color),
                                    to(transparent));
  }

  to {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.5,
                                    to($accent_color),
                                    to(transparent));
  }
}

%button,
button {
  @at-root %button_basic, & {
    min-height: 24px;
    min-width: 16px;
    padding: ($medium_size - 24px) / 2 ($medium_size - 16px) / 2;
    border-radius: $md_radius;
    font-weight: 500;
    @include button(normal);

    &:hover { @include button(hover); }
    &:active { @include button(active); }
    &:disabled { @include button(disabled); }
    &:checked { @include button(checked); }
    &:checked:disabled { @include button(checked-disabled); }

    @at-root %flat_button, &.flat {
      @at-root %simple_flat_button, & {
        @include button(flat-normal);
        &:hover { @include button(flat-hover); }
        &:active { @include button(flat-active); }
        &:disabled { @include button(flat-disabled); }
      }
      &:checked { @include button(flat-checked); }
      &:checked:disabled { @include button(flat-checked-disabled); }
    }

    &.text-button {
      padding-left: 8px;
      padding-right: 8px;
    }

    &.image-button {
      min-width: 24px;
      padding: ($medium_size - 24px) / 2;
      border-radius: $md_radius;
      -gtk-outline-radius: $md_radius;
    }

    &.text-button.image-button {
      border-radius: $md_radius;
      -gtk-outline-radius: $md_radius;

      label {
        &:first-child {
          margin-left: 16px - ($medium_size - 24px) / 2;
          margin-right: 2px;
        }

        &:last-child {
          margin-left: 2px;
          margin-right: 16px - ($medium_size - 24px) / 2;
        }

        &:only-child {
          margin-left: 16px - ($medium_size - 24px) / 2;
          margin-right: 16px - ($medium_size - 24px) / 2;
        }
      }

      image:not(:only-child) {
        &:first-child { margin-left: (24px - 16px) / 2; }

        &:last-child { margin-right: (24px - 16px) / 2; }
      }
    }

    &.circular { // The Bloody Circul Button
      @extend %circular_button;
    }

    .linked:not(.vertical) > &,
    .linked:not(.vertical) > &:hover,
    .linked:not(.vertical) > &:active,
    .linked:not(.vertical) > &:checked { @extend %linked; }

    .linked.vertical > &,
    .linked.vertical > &:hover,
    .linked.vertical > &:active,
    .linked.vertical > &:checked { @extend %linked_vertical; }

    &:drop(active) {
      // box-shadow: inset 0 0 0 2px $accent_color;
    }
  }

  @at-root %button_selected, row:selected & {
    &:disabled { color: $disabled_secondary_inversed_fg_color; }
    &.flat {
      color: $secondary_inversed_fg_color;

      &:hover, &:active { color: $inversed_fg_color; }

      &:disabled { color: $disabled_secondary_inversed_fg_color; }

      &:checked {
        background-color: $track_color;
        color: $inversed_fg_color;
      }

      &:checked:disabled {
        background-color: rgba(white, 0.12);
        color: $disabled_inversed_fg_color;
      }
    }
  }

  // big standalone buttons like in Documents pager
  &.osd {
    padding: ($large_size - 24px) / 2 ($large_size - 16px) / 2;

    &.image-button { padding: ($large_size - 24px) / 2; }

    &:disabled { opacity: 0; }
  }

  //overlay / OSD style
  @at-root %osd_button,
  .osd & { }

  // Suggested and Destructive Action buttons
  @each $b_type, $b_color in (suggested-action, $suggested_color),
                             (destructive-action, $destructive_color) {
    &.#{$b_type} {
      background-color: $b_color;
      color: $inversed_fg_color;
      box-shadow: none;
      border-color: $b_color;

      &:hover { opacity: 0.75; color: $inversed_fg_color; }

      &:active, &:checked { opacity: 0.65; }

      &:disabled { opacity: 0.35; > label { color: inherit; } }

      &.flat {
         background-color: transparent;
         color: $b_color;

         &:hover { @include button(flat-hover, $b_color, $inversed_fg_color); }

         &:active, &:checked { @include button(flat-active, $b_color, $inversed_fg_color); }

         &:disabled { @include button(flat-disabled, $b_color, $inversed_fg_color); }
      }

      .osd & {
      }
    }
  }

  .stack-switcher > & {
    // to position the needs attention dot, padding is added to the button
    // child, a label needs just lateral padding while an icon needs vertical
    // padding added too.

    outline-offset: -4px; // needs to be set or it gets overriden by GtkRadioButton outline-offset

    > label {
      padding-left: 6px;  // label padding
      padding-right: 6px; //
    }

    > image {
      padding-left: 6px;   // image padding
      padding-right: 6px;  //
      padding-top: 3px;    //
      padding-bottom: 3px; //
    }

    &.text-button {
      // compensate text-button paddings
      padding-left: 16px - 6px;
      padding-right: 16px - 6px;
    }

    &.image-button {
      // we want image buttons to have a 1:1 aspect ratio, so compensation
      // of the padding added to the GtkImage is needed
      padding-left: ($medium_size - 16px) / 2 - 6px;
      padding-right: ($medium_size - 16px) / 2 - 6px;
    }

    &.needs-attention {
      > label,
      > image { @extend %needs_attention; }

      &:checked {
        > label,
        > image {
          animation: none;
          background-image: none;
        }
      }
    }
  }

  // hide separators
  separator {
    min-width: 0;
    min-height: 0;
    background: transparent;
  }

  // &.font,
  // &.file { separator { background-color: transparent; }}

  // &.font { > box > box > label { font-weight: bold; }}

  // inline-toolbar buttons
  .inline-toolbar & {
    // @extend %button_basic.flat;
//    &:not(.text-button) { @extend %linked; border: 1px solid $borders_color; }
  }

  .primary-toolbar & { -gtk-icon-shadow: none; } // tango icons don't need shadows
}

// Set button borders for all linked buttons
.linked > button {
  &:active { border-color: $borders_color; }
  &:checked { border-color: $primary_color; }
  &:checked:disabled { border-color: scale-alpha($primary_color, $disabled_opacity); }
}

%needs_attention {
  animation: needs_attention $longer_duration $deceleration_curve forwards;
  background-repeat: no-repeat;
  background-position: right 3px;
  background-size: 6px 6px;

  &:dir(rtl) { background-position: left 3px; }
}

// all the following is for the +|- buttons on inline toolbars, that way
// should really be deprecated...

// .inline-toolbar toolbutton > button { }

// redefining the button look is needed since those are flat...

// More inline toolbar buttons
toolbar.inline-toolbar toolbutton {
   > button.flat { @extend %linked_middle; background-color: $lighter_bg_color; }

   &:first-child > button.flat { @extend %linked:first-child; }
   &:last-child > button.flat { @extend %linked:last-child; }
   &:only-child > button.flat { @extend %linked:only-child; }
}

%linked_middle {
  border-radius: 0;
  -gtk-outline-radius: $md_radius;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  border-right-style: none;
}

%linked {
  @extend %linked_middle;

  &:first-child {
    border-top-left-radius: $md_radius;
    border-bottom-left-radius: $md_radius;
    border-right-style: none;
    border-left-style: solid;
  }

  &:last-child {
    border-top-right-radius: $md_radius;
    border-bottom-right-radius: $md_radius;
    border-right-style: solid;
    border-left-style: none;
  }

  &:only-child {
    border-radius: $md_radius;
    border-style: solid;
  }
}

%linked_vertical_middle {
  border-radius: 0;
  -gtk-outline-radius: $md_radius;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: solid;
  border-right-style: solid;
}

%linked_vertical{
  @extend %linked_vertical_middle;

  &:first-child {
    border-top-left-radius: $md_radius;
    border-top-right-radius: $md_radius;
    border-bottom-style: none;
    border-top-style: solid;
  }

  &:last-child {
    border-bottom-left-radius: $md_radius;
    border-bottom-right-radius: $md_radius;
    border-bottom-style: solid;
    border-top-style: none;
  }

  &:only-child {
    border-radius: $md_radius;
    border-style: solid;
  }
}

/* menu buttons */
modelbutton.flat,
.menuitem.button.flat {
  min-height: $menuitem_size;
  padding: 0 8px;
  border-radius: $md_radius;
  color: inherit;
  @extend %simple_flat_button;

  &:selected { @extend %selected_items; }

  check,
  radio {
    &:not(:checked):not(:indeterminate) { color: gtkalpha(currentColor, $hint_opacity); }

    &, &:hover { background-image: none; }

    &:active { animation: none; }

    &:last-child { margin-left: -8px; margin-right: -16px; }

    &:first-child { margin-left: -16px; margin-right: -8px; }
  }
}

modelbutton.flat arrow {
  background: none;

  &:hover { background: none; }

  &.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

  &.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
}

button.color {
  min-height: $small_size;
  min-width: $small_size;
  padding: $container_padding;

  colorswatch:only-child {
    // &, overlay { border-radius: 0; }
  }
}


/*********
 * Links *
 *********/
*:link {
  &, &:hover, &:active { color: $link_color; }

  &:visited {
    &, &:hover, &:active { color: $link_visited_color; }
  }

  @at-root %link_selected,
  &:selected,
  *:selected & { color: $inversed_fg_color; }
}

button:link,
button:visited {
  @extend *:link;

  > label { text-decoration-line: underline; }
}

/*****************
 * GtkSpinButton *
 *****************/
spinbutton {
  &:not(.vertical) {
    // in this horizontal configuration, the whole spinbutton
    // behaves as the entry, so we extend the entry styling
    // and nuke the style on the internal entry
    @extend %entry;
    padding: 0;

    %spinbutton_entry,
    entry {
      min-width: $large_size - 8px * 2;
      // reset all the other props since the spinbutton node is styled here
      margin: 0;
      border-style: none;
      border-image: none;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;
      //
      // This will help to simplify spinbutton's code, but unfortunatelly
      // doesn't work properly in :dir(rtl). It needs z-index property.
      //
      // min-width: $large_size - 8px;
      //
      // $spinbuttons_width: $small_size * 2 + $container_padding * 3;
      //
      // &:dir(ltr) {
      //   margin-right: -$spinbuttons_width;
      //   padding-right: $spinbuttons_width;
      // }
      //
      // &:dir(rtl) {
      //   margin-left: -$spinbuttons_width;
      //   padding-left: $spinbuttons_width;
      // }
    }

    button {
      // margin: $container_padding;
      border: solid $container_padding transparent;

      @extend %simple_flat_button;

      @extend %small_button;

      &.up:dir(ltr),
      &.down:dir(rtl) { margin-left: -$container_padding / 2; }

      &.up:dir(rtl),
      &.down:dir(ltr) { margin-right: -$container_padding / 2; }
    }
  }

  // OSD horizontal
  .osd &:not(.vertical) {
    button { }
  }

  // Vertical
  &.vertical {
    // in the vertical configuration, we treat the spinbutton
    // as a box, and tweak the style of the entry in the middle
    // so that it's linked

    // FIXME: this should not be set at all, but otherwise it gets the wrong
    // color
    &:disabled { color: $disabled_fg_color; }

    &:drop(active) {
      box-shadow: none;
    }

    entry {
      min-height: $medium_size;
      min-width: $large_size;
      padding: 0;
      border-radius: 0;
    }

    button {
      min-height: $medium_size;
      min-width: $large_size;
      padding: 0;
      border-color: $borders_color;
      @extend %simple_flat_button;

      &.up { border-radius: 2px 2px 0 0; border-bottom-style: none; }

      &.down { border-radius: 0 0 2px 2px; border-top-style: none; }
    }
  }

  // OSD vertical
  .osd &.vertical { button:first-child { } }

  // Misc
  treeview &:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0;

    entry {
      min-height: 0;
      padding: 1px 2px;
    }
  }
}

/**************
 * ComboBoxes *
 **************/
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }

  decoration,
  button.combo:checked { transition: none; } // workaround for menuitem selection

  button.combo cellview {
    &:dir(ltr) { margin-left: 8px - ($medium_size - 16px) / 2; }
    &:dir(rtl) { margin-right: 8px - ($medium_size - 16px) / 2; }
  }

  #gtk-combobox-popup-menu {
    padding: 2px 0;

    menuitem {
      min-height: $medium_size - 2px * 2;
      padding: 0 8px;
    }
  }

  &.linked {
    button:nth-child(2) {
      &:dir(ltr) { @extend %linked:last-child; }
      &:dir(rtl) { @extend %linked:first-child; }
    }
  }

  &:drop(active) { // FIXME: untested
    box-shadow: none;

    // button.combo { @extend %button_basic:drop(active); }
  }
}

.linked > combobox > box > button.combo {
  // the combo is a composite widget so the way we do button linking doesn't
  // work, special case needed. See
  // https://bugzilla.gnome.org/show_bug.cgi?id=733979

  &:dir(ltr), &:dir(rtl) {
    &, &:hover, &:active, &:checked, &:disabled { @extend %linked_middle; } // specificity bump
  }
}

.linked:not(.vertical) > combobox:first-child > box > button.combo { @extend %linked:first-child; }
.linked:not(.vertical) > combobox:last-child > box > button.combo { @extend %linked:last-child; }
.linked:not(.vertical) > combobox:only-child > box > button.combo { @extend %linked:only-child; }

.linked.vertical > combobox > box > button.combo { @extend %linked_vertical_middle; }
.linked.vertical > combobox:first-child > box > button.combo { @extend %linked_vertical:first-child; }
.linked.vertical > combobox:last-child > box > button.combo { @extend %linked_vertical:last-child; }
.linked.vertical > combobox:only-child > box > button.combo { @extend %linked_vertical:only-child; }

%combo_flat {
  border-radius: 0;
  background-image: none;
  font-weight: inherit;
  @include entry(normal);

  &:hover { @include button(hover); }
  &:checked { @include button(active); }
  &:disabled { color: $disabled_fg_color; }
}

/************
 * Toolbars *
 ************/
toolbar {
  -GtkWidget-window-dragging: true;
  padding: $container_padding / 2;
  background-color: $bg_color;

  button { @extend %button_basic.flat; border-color: transparent; }
  entry { @extend %entry.flat; }

  // on OSD
  .osd & { background-color: transparent; }

  // stand-alone OSD toolbars
  &.osd {
    padding: $container_padding;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid $borders_color;
    background-color: $base_color;
    &:disabled { border-color: rgba($borders_color, 0.06) }
    &:backdrop { opacity: 0.8; }

    &.left,
    &.right,
    &.top,
    &.bottom { border-radius: 0; } // positional classes for `attached` osd toolbars
  }

  // toolbar separators
  &.horizontal separator { margin: $container_padding / 2; }
  &.vertical separator { margin: $container_padding / 2; }

  &:not(.inline-toolbar):not(.osd) {
    scale,
    entry,
    spinbutton,
    button { margin: $container_padding / 2; }

    .linked entry,
    .linked spinbutton,
    .linked button {
      &:not(:first-child) { margin-left: 0; }
      &:not(:last-child) { margin-right: 0; }
    }

//    switch { margin: ($container_padding / 2 + $container_padding) ($container_padding / 2); }
  }
}

//searchbar, location-bar & inline-toolbar
.inline-toolbar {
  padding: $container_padding;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: $borders_color;
  background-color: $alt_base_color;
}

searchbar,
.location-bar {
  padding: $container_padding;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: $borders_color;
  background-color: $bg_color;
  background-clip: border-box;
}

/***************
 * Header bars *
 ***************/
%titlebar,
headerbar {
  transition: background-color $shorter_duration $deceleration_curve, color $longer_duration $deceleration_curve;
  min-height: $large_size;
  padding: 0 $container_padding;
  box-shadow: inset 0 -1px $borders_color;
  background-color: $headerbar_bg_color;
  color: $headerbar_fg_color;

  &:backdrop {
    color: $secondary_headerbar_fg_color;
  }

  .title {
    padding: 0 12px;
    font-weight: bold;
  }

  .subtitle {
    padding: 0 12px;
    font-size: smaller;

    @extend .dim-label;
  }

  entry {
    @if $headerbar =='dark' {
      background-color: lighten($headerbar_bg_color, 5%);
      color: $headerbar_fg_color;
      &:focus { color: $inversed_fg_color; }
    }
  }

  @at-root %header_button {
    @include button(header-normal);
    &:hover { @include button(header-hover); }
    &:active { @include button(header-active); }
    &:disabled { @include button(header-disabled); }
    &:checked { @include button(header-checked); }
    &:checked:disabled { @include button(header-checked-disabled); }
  }

  button,
  button.flat.toggle.popup {
    @extend %header_button;
    &:backdrop { opacity: 0.85; }
  }

  // Suggested and Destructive Headerbar buttons
  @each $b_type, $b_color in (suggested-action, $suggested_color),
                             (destructive-action, $destructive_color) {
    button.#{$b_type} {
      background-color: $b_color;
      color: $inversed_fg_color;
      box-shadow: none;
      border-color: if($variant == 'light' and $headerbar =='dark', $borders_color, $b_color);

      &:hover { opacity: 0.75; color: $inversed_fg_color; }
      &:disabled { opacity: 0.35; > label { color: inherit; }}
      &:checked { opacity: 0.65; }
    }
  }

  &.selection-mode {
    transition: background-color 0.00001s $longer_duration, color $longer_duration $deceleration_curve;
    animation: header_ripple_effect $longer_duration $deceleration_curve;
    box-shadow: $z-depth-1;
    background-color: $primary_color;
    color: $inversed_fg_color;

    &:backdrop {
      color: $secondary_inversed_fg_color;
    }

    .subtitle:link { @extend *:link:selected; }

    button:not(.suggested-action):not(.destructive-action) {
      border-image: none;
      border: none;
      color: currentColor;
      background-color: transparent;
      &:disabled {
        color: gtkalpha(currentColor, $disabled_opacity);
        background: none;
        > label { color: inherit; }
      }

      &:hover {
        background-color: gtkalpha($dark_contrast_color, 0.2);
        color: white;
          }

      &:checked {
        color: currentColor;
        background-color: gtkalpha($dark_contrast_color, 0.3);
        &:disabled {
          color: gtkalpha(currentColor, $disabled_opacity);
          > label { color: inherit; }
        }
      }
    }

    .selection-menu {
      padding-left: 16px;
      padding-right: 16px;

      GtkArrow { -GtkArrow-arrow-scaling: 1; }

      .arrow { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
    }
  }

  .fullscreen &,
  .tiled &,
  .maximized & {
    border-radius: 0; // squared corners when the window is fullscreen, maximized or tiled

  }

  &.default-decoration {
    min-height: $small_size;
    padding: $container_padding;

    .tiled &,
    .maximized &,
    .fullscreen & { box-shadow: none; }

    button.titlebutton {
      min-height: $small_size;
      min-width: $small_size;
      margin: 0;
      padding: 0;
    }
  }

  &.default-decoration,
  .csd &.default-decoration,             // needed under wayland, since all gtk3 windows are csd windows
  &.default-decoration:backdrop,
  .csd &.default-decoration:backdrop {
    box-shadow: none;
    border: none;
  }

  separator.titlebutton { @extend %header_separator; }

  // special case for headerbar linked entrys
  // .linked:not(.vertical):not(.path-bar) > entry {
  //   &:first-child:focus { box-shadow: inset -1px 0 $primary_color; }
  //   &:last-child:focus { box-shadow: inset 1px 0 $primary_color; }
  //   &:not(:first-child):not(:last-child):focus { box-shadow: inset 1px 0 $primary_color, inset -1px 0 $primary_color; }
  //   &:disabled { background-color: darken($lighter_bg_color, 3%); }
  // }

  // special case for path-bar and stack-switchers
  .linked:not(.vertical).path-bar,
  .linked:not(.vertical).stack-switcher {
    > button {
      @extend %header_button;
      &, &:hover, &:active, &:checked, &:disabled { @extend %linked; }
    }
  }

  .linked:not(.vertical) > button {
    @extend %header_button;
  }
}

%header_separator {
  min-width: 0;
  min-height: 0;
  background: none;
  border-width: 0 0;
  border-image: linear-gradient(to bottom,
                                transparentize($secondary_highlight_color, 1) 25%,
                                transparentize($secondary_highlight_color, 0.65) 25%,
                                transparentize($secondary_highlight_color, 0.65) 75%,
                                transparentize($secondary_highlight_color, 1) 75%) 0 1/0 0 stretch;

  &:backdrop { opacity: 0.6; }
}

headerbar {
  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  // separator,
  button {
    margin-top: $container_padding;
    margin-bottom: $container_padding;
  }

//  switch {
//    margin-top: $container_padding * 2;
//    margin-bottom: $container_padding * 2;
//  }

  separator { @extend %header_separator; }
}

.titlebar,
.titlebar .background {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: inset 0 -1px $borders_color, inset 0 1px rgba(white, 0.08);
}

.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

headerbar { // headerbar border rounding
  window separator:first-child + &, // tackles the paned container case
  window &:first-child { border-top-left-radius: 2px; }
  window &:last-child { border-top-right-radius: 2px; }

  window stack & { // tackles the stacked headerbars case
    &:first-child, &:last-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  window.tiled &,
  window.tiled-top &,
  window.tiled-right &,
  window.tiled-bottom &,
  window.tiled-left &,
  window.maximized &,
  window.fullscreen &,
  window.solid-csd & {
    &,
    &:first-child,
    &:last-child,
    &:only-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.titlebar:not(headerbar) {
  window.csd > & {
  // in csd we assume every titlebar is a headerbar so reset anything, this is needed for split toolbars cases
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }

  > separator {
    background-color: $headerbar_bg_color;
  }

  @extend %titlebar;
}

/************
 * Pathbars *
 ************/
%pathbar_button,
.path-bar button {
  padding-left: ($medium_size - 24px) / 2;
  padding-right: ($medium_size - 24px) / 2;

  label:not(:only-child) {
    &:first-child { margin-left: 4px; }

    &:last-child { margin-right: 4px; }
  }

  &.slider-button {
    padding-left: (24px - 16px) / 2;
    padding-right: (24px - 16px) / 2;
  }

  & {
    @extend %button;
    border-image: none;
    border: 1px solid $borders_color;

    &:active, &:checked {
      background-color: $primary_color;
      color: $dark_contrast_color;
      border-color: $primary_color;
    }

    &:disabled { background-color: $base_color; }


    &, &.text-button,
    &.image-button,
    &.text-button.image-button {
      &, &:hover, &:active, &:checked, &:disabled { @extend %linked; }
    }
  }
}

/**************
 * Tree Views *
 **************/
treeview.view {
  @at-root * {
    -GtkTreeView-horizontal-separator: 4;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';
    -GtkTreeView-expander-size: 16;
  }

  border-left-color: $track_color;  // this is actually the tree lines color,
  border-top-color: $borders_color; // while this is the grid lines color, better then nothing

  rubberband { @extend rubberband; } // to avoid borders being overridden by the previously set props

  &:hover, &:active, &:selected { border-radius: 0; }

  &.separator {
    min-height: 1px + 2px * 2;
    color: $borders_color;
  }

  &:drop(active) {
    border-style: solid none;
    border-width: 1px;
    border-color: $accent_color;

    &.after { border-top-style: none; }

    &.before { border-bottom-style: none; }
  }

  &.expander {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    -gtk-icon-transform: rotate(-90deg);

    &:dir(rtl) { -gtk-icon-transform: rotate(90deg); }

    &:checked { -gtk-icon-transform: unset; }

    color: $secondary_fg_color;

    &:hover, &:active { color: $fg_color; }

    &:disabled { color: $disabled_secondary_fg_color; }

    &:selected {
      color: $secondary_inversed_fg_color;

      &:hover, &:active { color: $inversed_fg_color; }

      &:disabled { color: $disabled_secondary_inversed_fg_color; }
    }
  }

  &.progressbar { // progress bar in treeviews
    border-style: none none solid;
    border-width: $bar_size;
    border-color: $primary_color;
    box-shadow: none;
    background-color: transparent;

    &:selected { border-color: currentColor; }
  }

  &.trough { // progress bar trough in treeviews
    border-style: none none solid;
    border-width: $bar_size;
    border-color: scale-alpha($primary_color, $lower_opacity);
    box-shadow: none;
    background-color: transparent;

    &:selected { border-color: $track_color; }
  }

  header {
    button {
      @extend row.activatable;

      padding: 2px 6px;
      border-style: none solid solid none;
      border-width: 1px;
      border-color: $borders_color;
      border-radius: 0;
      background-clip: border-box;

      &, &:hover, &:active { box-shadow: none; }

      &, &:disabled { background-color: $base_color; }

      &:last-child { border-right-style: none; }
    }
  }

  button.dnd,
  header.button.dnd { // for treeview-like derive widgets
    padding: 2px 6px;
    border-style: none solid solid;
    border-width: 1px;
    border-color: $borders_color;
    border-radius: 0;
    box-shadow: none;
    background-color: $base_color;
    background-clip: border-box;
    color: $primary_color;
  }

  acceleditor > label { background-color: $primary_color; } // see tests/testaccel to test
}

/*********
 * Menus *
 *********/
menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0;
  box-shadow: inset 0 -1px $header_borders_color;
  background-color: $headerbar_bg_color;

  > menuitem {
    min-height: 20px;
    padding: 4px 8px;
    color: $headerbar_fg_color;

    &:hover { //Seems like it :hover even with keyboard focus
      border-radius: 2px 2px 0 0;
      background-color: $primary_color;
      color: $dark_contrast_color;
    }

    &:disabled { color: $disabled_headerbar_fg_color; }

  }
}

menu,
.menu,
.context-menu {
  margin: 4px;
  padding: 2px 0;
  box-shadow: none;
  border-radius: 0;
  background-color: $menu_bg_color;
  border: 1px solid $borders_color;

  .csd & {
    border: none; // axes borders in a composited env
    border-radius: 0;
  }

  menuitem {
    min-height: 20px;
    min-width: 40px;
    padding: 4px 8px;
    font: initial;
    text-shadow: none;
    color: $menu_fg_color;

    &:hover {
      transition: none;
      color: $dark_contrast_color;
      background-color: $primary_color;
    }

   &:disabled { color: $disabled_menu_fg_color; }

    // submenu indicators
    arrow {
      min-height: 16px;
      min-width: 16px;

      &:dir(ltr) {
        -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
        margin-left: 8px;
      }

      &:dir(rtl) {
        -gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
        margin-right: 8px;
      }
    }

    // avoids labels color being overridden, see
    // https://bugzilla.gnome.org/show_bug.cgi?id=767058
    label { &:dir(rtl), &:dir(ltr) { color: inherit; }}
  }

  // overflow arrows
  > arrow {
    min-height: 16px;
    min-width: 16px;
    padding: 4px;
    border-radius: 0;
    background-color: $menu_bg_color;
    color: $menu_fg_color;

    &.top {
      margin-top: -6px;
      border-bottom: 1px solid $borders_color;
      -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
    }

    &.bottom {
      margin-bottom: -6px;
      border-top: 1px solid $borders_color;
      -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    }

    &:hover {
      background-image: image(gtkalpha(currentColor, $lower_opacity / 2));
      color: $menu_fg_color;
    }

    &:disabled {
      border-color: transparent;
      background-color: transparent;
      color: transparent;
      // color: $disabled_headerbar_fg_color;
    }
  }

  separator {
    min-height: 1px;
    border: none;
    background-color: $borders_color;
    &:dir(ltr) { margin: 3px 0; }
    &:dir(rtl) { margin: 3px 0; }
  }

  box.horizontal separator { // special case for nm-applet
    min-height: 1px;
    border: none;
    background-color: $borders_color;

    &:dir(ltr),
    &:dir(rtl)  { margin: 3px 0; }
  }

}

menuitem {
  accelerator { color: gtkalpha(currentColor, $hint_opacity); }
}

.csd.popup { border-radius: 2px; }


/***************
 * Popovers   *
 ***************/
popover.background {
  transition: $shadow_transition;
  padding: 0;
  box-shadow:  $z-depth-2; // TODO: this should really have a highlight
  background-color: $lighter_bg_color;

  &:backdrop { box-shadow: $z-depth-1; }

  &, .csd & {
    border: 1px solid $borders_color;
    border-radius: 2px + 1px;
  }

  > list,
  > .view,
  > toolbar {
    border-style: none;
    background-color: transparent;
  }

  &, .csd & {
    &.touch-selection,
    &.magnifier,
    &.osd { @extend %osd; }
  }

//   entry { @extend %entry.flat; }
//   button.combo { @extend %combo_flat; }

  separator { margin: 4px 0; }

  list separator { margin: 0; }
}

//touch selection handlebars for the Popover.osd above
cursor-handle {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-style: none;
  &.top { -gtk-icon-source: -gtk-icontheme('selection-start-symbolic'); }
  &.bottom { -gtk-icon-source: -gtk-icontheme('selection-end-symbolic'); }
}

/*************
 * Notebooks *
 *************/
notebook {
  > header {
    border-width: 1px;
    border-color: $borders_color;
    background-color: $bg_color;
    background-clip: border-box;

     button,
     button.flat {
       min-height: 24px;
       min-width: 24px;
       border: none;
       padding: 0;
       margin-right: 8px;
    }

    &.top {
      border-bottom-style: solid;
      > tabs {
        margin-bottom: -1px;
        > tab {

          &:hover { box-shadow: inset 0 -3px gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 0 -3px $tab_color; }
        }
      }
    }

    &.bottom {
      border-top-style: solid;
      > tabs {
        margin-top: -1px;
        > tab {

          &:hover { box-shadow: inset 0 3px gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 0 3px $tab_color; }
        }
      }
    }

    &.left {
      border-right-style: solid;
      > tabs {
        margin-right: -1px;
        > tab {

          &:hover { box-shadow: inset -3px 0 gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset -3px 0 $tab_color; }
        }
      }
    }

    &.right {
      border-left-style: solid;
      > tabs {
        margin-left: -1px;
        > tab {

          &:hover { box-shadow: inset 3px 0 gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 3px 0 $tab_color; }
        }
      }
    }

    &.top > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-top-style: none;
    }

    &.bottom > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-bottom-style: none;
    }

    @at-root %notebook_vert_arrows {
      padding-left: 4px;
      padding-right: 4px;

      &.down {
        margin-left: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
      }

      &.up {
        margin-right: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      }
    }

    &.left > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-left-style: none;
    }

    &.right > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-right-style: none;
    }

    @at-root %notebook_horz_arrows {
      padding-top: 4px;
      padding-bottom: 4px;

      &.down {
        margin-top: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
      }

      &.up {
        margin-bottom: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
      }
    }

    > tabs > arrow {
      @extend %simple_flat_button;

      min-height: 16px;
      min-width: 16px;
      border-radius: 0;
    }

    tab {
      transition: $longer_transition,
                  background-size 0,
                  background-image 0;
      min-height: $small_size;
      min-width: $small_size;
      padding: $container_padding 12px;

      outline-offset: -6px;

      border-width: 1px;         // for reorderable tabs
      border-color: transparent; //
      background-image: radial-gradient(circle farthest-corner at center,
                                        $semi_track_color 10%,
                                        transparent 0%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0% 0%;
      color: $secondary_fg_color;
      font-weight: 500;

      &:hover {
        color: $fg_color;

        &.reorderable-page {
          border-color: $borders_color;
          background-color: $alt_base_color;
        }
      }

      &:disabled { color: $disabled_secondary_fg_color; }

      &:checked {
        transition: $longer_transition,
                    background-size $longer_duration $deceleration_curve,
                    background-image $longer_duration + $ripple_duration $deceleration_curve;
        background-image: radial-gradient(circle farthest-corner at center,
                                          transparent 10%,
                                          transparent 0%);
        background-size: 1000% 1000%;
        color: $fg_color;

        &:disabled { color: $disabled_fg_color; }

        &.reorderable-page {
          border-color: $borders_color;
          background-color: $base_color;
        }
      }

      // close button
      // colors the button like the label, overridden otherwise
      button,
      button.flat {
           min-height: 24px;
           min-width: 24px;
           padding: 0;
           margin-right: -8px;
           border: none;
           border-radius: $circular_radius;
           -gtk-outline-radius: $circular_radius;
      }
    }

    &.top,
    &.bottom {
      tabs {
        padding-left: 8px;
        padding-right: 8px;

        &:not(:only-child) {
          &:first-child { margin-left: 0; }
          &:last-child { margin-right: 0; }
        }

        tab {
          &.reorderable-page {
            margin: 0 -1px;
            border-left-style: solid;
            border-right-style: solid;
          }
        }
      }
    }

    &.left,
    &.right {
      tabs {
        padding-top: 8px;
        padding-bottom: 8px;

        &:not(:only-child) {
          &:first-child { margin-top: 0; }
          &:last-child { margin-bottom: 0; }
        }

        tab {
          &.reorderable-page {
            margin: -1px 0;
            border-top-style: solid;
            border-bottom-style: solid;
          }
        }
      }
    }
  }

  > stack:not(:only-child) { // the :not(:only-child) is for "hidden" notebooks
    background-color: $base_color;

    entry,
    spinbutton:not(.vertical) { @extend %entry.flat; }

    revealer entry,
    revealer spinbutton:not(.vertical) { @extend %entry; }

    spinbutton:not(.vertical) entry { @extend %spinbutton_entry; }
    button.combo { @extend %combo_flat; }
  }
}


/**************
 * Scrollbars *
 **************/
scrollbar {
  $_slider_min_length: 24px;

  // disable steppers
  @at-root * {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
  }

  transition: $longer_transition;
  background-color: $base_color;
  background-clip: $extra_background_clip;

  // scrollbar border
  &.top { border-bottom: 1px solid $borders_color; }
  &.bottom { border-top: 1px solid $borders_color; }
  &.left { border-right: 1px solid $borders_color; }
  &.right { border-left: 1px solid $borders_color; }

  // slider
  slider {
    transition: $shorter_transition, margin 0, border-width 0;
    min-width: 6px;
    min-height: 8px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-clip: padding-box;
    background-color: $tertiary_fg_color;

    &:hover { background-color: $secondary_fg_color; }

    &:active { background-color: $fg_color; }

    &:disabled { background-color: $disabled_tertiary_fg_color; }
  }

  &.fine-tune {
    slider {
      transition: $shorter_transition, margin 0, border-width 0, min-width 0, min-height 0;
      min-width: 4px;
      min-height: 4px;
    }

    &.horizontal slider { margin: 2px 0; }

    &.vertical slider { margin: 0 2px; }
  }

  &.overlay-indicator {
    &:not(.dragging):not(.hovering) {
      border-color: transparent;
      background-color: transparent;

      slider {
        min-width: 4px;
        min-height: 4px;
        margin: 4px - 1px;
        border: 1px solid scale-alpha($base_color, $lower_opacity);
      }

      button {
        min-width: 4px;
        min-height: 4px;
        margin: 4px - 1px;
        border: 1px solid scale-alpha($base_color, $lower_opacity);
        border-radius: $circular_radius;
        background-color: $tertiary_fg_color;
        background-clip: padding-box;
        -gtk-icon-source: none;

        &:disabled { background-color: $disabled_tertiary_fg_color; }
      }

      &.horizontal {
        slider { min-width: $_slider_min_length; }

        button { min-width: 6px; }
      }

      &.vertical {
        slider { min-height: $_slider_min_length; }

        button { min-height: 6px; }
      }
    }

    &.dragging,
    &.hovering { background-color: scale-alpha($base_color, $higher_opacity); }
  }

  &.horizontal slider { min-width: $_slider_min_length; }

  &.vertical slider { min-height: $_slider_min_length; }

  // button styling
  button {
    @extend %simple_flat_button;

    min-width: 16px;
    min-height: 16px;
    padding: 0;
    border-radius: 0;
  }

  // button icons
  &.vertical {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
    }
  }

  &.horizontal {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }
    }
  }
}


/**********
 * Switch *
 **********/
switch {
  transition: background-color 100ms $deceleration_curve, opacity $longer_duration $deceleration_curve;
  margin: $container_padding 0;
  border: 4px solid transparent;
  border-radius: 100px;
  background-color: gtkalpha(currentColor, $lower_opacity);
  background-clip: padding-box;
  font-size: 0;

  image { color: transparent; }

  &:disabled { color: gtkalpha(currentColor, $disabled_opacity); }

  &:checked {
    background-color: scale-alpha($accent_color, 0.5);

    &:disabled {
      background-color: scale-alpha($accent_color, 0.5 * $disabled_opacity);
      color: $disabled_fg_color;
    }
  }

  slider {
    @include entry(normal);
    transition: all 100ms $deceleration_curve, $shadow_transition, margin 0;
    min-width: $small_size;
    min-height: $small_size;
    margin: -3px 0 -3px -4px;
    border-radius: 100px;
    -gtk-outline-radius: 100px;
  }

  &:hover slider { @include entry(focus); }

  &:checked slider {
    margin: -3px -4px -3px 0;
    background-color: $accent_color;
    color: $inversed_fg_color;
    border-color: $alt_primary_color;
  }

  &:disabled slider { background-color: if($variant == 'light', darken($bg_color, 10%), lighten($bg_color, 10%)); }

  &:checked:disabled slider { animation: none; background-color: lighten($accent_color, 10%); }

  row:selected & {
      background-color: gtkalpha($light_contrast_color, 0.2);

    &:checked {
      background-color: gtkalpha($inversed_fg_color, $middle_opacity);
      }

    slider {
      background-color: lighten($accent_color, 25%);
     }

    &:checked slider {
      animation: none;
      background-color: $inversed_fg_color;
    }
  }
}


/*************************
 * Check and Radio items *
 *************************/
// draw regular check and radio items using our PNG assets
// all assets are rendered from assets.svg. never add pngs directly

//selection-mode
.view.content-view.check:not(list),
.content-view .tile check:not(list) {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -gtk-icon-shadow: $z-depth-1;

  &:hover, &:active { -gtk-icon-shadow: $z-depth-2; }

@each $s, $as in ('', '-selectionmode'),
                (':hover', '-hover-selectionmode'),
                (':checked', '-checked-selectionmode'),
                (':checked:hover', '-checked-hover-selectionmode') {
  .view.content-view.check#{$s}:not(list) {
    -gtk-icon-shadow: $z-depth-1;
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox#{$as}#{$asset_suffix}.png"),
                                  url("assets/checkbox#{$as}#{$asset_suffix}@2.png"));
    margin: 8px;
    background-color: transparent;
    }
  }
}

checkbutton.text-button,
radiobutton.text-button {
  // this is for a nice focus on check and radios text
  padding: 2px;
  outline-offset: 0;

  label:not(:only-child) { margin: 0 4px; }
}

%check_radio_button,
checkbutton > check:not(:checked):not(:indeterminate),
radiobutton > radio:not(:checked):not(:indeterminate) {
    color: gtkalpha($fg_color, $enabled_opacity);
    &:hover, &:active { color: $fg_color; }
    &:disabled { color: gtkalpha($fg_color, $enabled_opacity * $disabled_opacity); }
  }

check,
radio {
  min-height: 24px;
  min-width: 24px;
  margin: -($large_size - 24px) / 2;
  padding: ($large_size - 24px) / 2;

  @extend %simple_flat_button;

  @extend %circular_button;

  &:checked, &:indeterminate {
      color: $accent_color;

      &:disabled {  color: scale-alpha($accent_color, $disabled_opacity); }
}

  // &:only-child { margin: -12px; }

  row &:not(:checked):not(:indeterminate) { @extend %check_radio_button; }

  popover & {
    &, &:hover, &:indeterminate, &:checked, &:disabled {
      box-shadow: none;
      background-image: none;
      background-color: transparent;
    }

    &:not(:checked):not(:indeterminate):not(:disabled) { color: $secondary_fg_color; }

    &.left:dir(rtl) {
      margin-left: -16px;
      margin-right: -8px;
    }

    &.right:dir(ltr) {
      margin-left: -8px;
      margin-right: -16px;
    }
  }

  menu menuitem & {
    transition: none;
    min-height: 16px;
    min-width: 16px;
    margin: 0; // this is a workaround for a menu check/radio size allocation issue
    padding: 0;

    &:dir(ltr) { margin-right: 8px; }

    &:dir(rtl) { margin-left: 8px; }

    &:not(:checked):not(:indeterminate) { color: gtkalpha(currentColor, $hint_opacity); }

    &, &:hover, &:disabled {
      box-shadow: none;
      background-image: none;
      // color: inherit;
    }
  }
}

%check,
check {
  & { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-unchecked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/check-unchecked-symbolic.png"))); }

  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-checked-symbolic.svg")),
                                      -gtk-recolor(url("assets/scalable/check-checked-symbolic.png"))); }

  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/scalable/check-dash-symbolic.png"))); }
}

%radio,
radio {
  & { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-unchecked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/radio-unchecked-symbolic.png"))); }

   &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-checked-symbolic.svg")),
                                       -gtk-recolor(url("assets/scalable/radio-checked-symbolic.png"))); }

  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-dash-symbolic.svg")),
                                            -gtk-recolor(url("assets/scalable/radio-dash-symbolic.png"))); }
}

// check/radio inside selected-rows
@each $w in ('check'),
            ('radio') {

  // standard checks and radios
  @each $s in (''),
              (':active',),
              (':backdrop',),
              (':indeterminate'),
              (':indeterminate:backdrop'),
              (':indeterminate:active'),
              (':checked'),
              (':checked:backdrop'),
              (':checked:active') {

    treeview.view,
    row,
    row.activatable {
      #{$w}:selected#{$s},
      #{$w}:selected:focus#{$s} {
        color: $dark_contrast_color;
        -gtk-icon-shadow: none;
      }
    }
  }

  @each $t in (':disabled',),
              (':indeterminate:disabled'),
              (':checked:disabled') {

    treeview.view,
    row,
    row.activatable {
      #{$w}:selected#{$t},
      #{$w}:selected:focus#{$t} {
        color: gtkalpha($dark_contrast_color, 0.5);
        -gtk-icon-shadow: none;
      }
    }
  }
}

// check/radio inside selected-menu
@each $w in ('check'),
            ('radio') {

  // standard checks and radios
  @each $s in (':hover',),
              (':indeterminate:hover'),
              (':checked:hover') {

    menu menuitem.#{$w}#{$s},
    menu menuitem #{$w}#{$s} {
        color: $dark_contrast_color;
        -gtk-icon-shadow: none;
        border-image: none;
    }
  }
}

// ANIMATION:
// this is made with those pretty convoluted transitions, since checks and radios have to animate only on state changes,
// the transformation is set on the active state and it get reset on the checked state.
check:not(:checked):active { -gtk-icon-transform: rotate(90deg); }

// radio:not(:checked):active { -gtk-icon-transform: scale(0); }

check:not(:checked):indeterminate:active,
radio:not(:checked):indeterminate:active { -gtk-icon-transform: scaleX(-1); } // instead of rotateY(180deg)

check:not(:checked),
radio:not(:checked) {
  & {
    transition: $longer_transition,
                background-size $ripple_duration $deceleration_curve,
                background-image $ripple_duration * 2 $deceleration_curve,
                -gtk-icon-transform 0;
  }

  &:active {
    transition: $longer_transition,
                background-size 0,
                background-image 0,
                -gtk-icon-transform 0;
  }

  menu menuitem & { transition: none; }
}

treeview.view check,
treeview.view radio {
  padding: 0;

  &:hover {
    box-shadow: none;
    background-image: none;
    background-color: transparent;

    &:disabled { box-shadow: none; }

    &:selected { box-shadow: none; }
  }

  & {
    color: $secondary_fg_color;

    &:hover, &:active { color: $fg_color; }

    &:disabled { color: $disabled_secondary_fg_color; }

    &:checked, &:indeterminate { color: $accent_color; }

    &:checked:disabled, &:indeterminate:disabled { color: scale-alpha($accent_color, $disabled_opacity); }
  }

}

treeview.view radio:checked {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-checked-symbolic.svg")),
                          -gtk-recolor(url("assets/scalable/radio-checked-symbolic.png")));
  border-image: none;
}


/************
 * GtkScale *
 ************/
scale {
  // sizing
  $_marks_lenght: 8px;
  $_marks_distance: 8px;

  $slider_size: 24px;
  $marks_slider_size: 30px;

  $slider_margin: -($slider_size - $bar_size) / 2;
  $marks_slider_margin: -($marks_slider_size - $bar_size) - $slider_margin;

  $color_slider_margin: -($slider_size) / 2;
  $color_marks_slider_margin: -($marks_slider_size - 16px) - $color_slider_margin;

  min-height: $medium_size - $slider_size;
  min-width: $medium_size - $slider_size;
  padding: ($slider_size / 2);

//  * { transition: $longer_transition; }

  // the slider is inside the trough, so to have make it bigger there's a negative margin
  slider {
    min-height: $slider_size;
    min-width: $slider_size;
    margin: $slider_margin;
  }

  // the backing bit
  trough {
    outline-offset: 2px;
    background-color: $track_color;

    &:disabled { color: $disabled_fg_color; }
  }

  // the colored part of the backing bit
  highlight {
    background-color: $accent_color;

    &:disabled { background-color: transparent; }
  }

  // this is another differently styled part of the backing bit, the most relevant use case is for example
  // in media player to indicate how much video stream as been cached
  fill {
    background-color: $track_color;

    &:disabled { background-color: transparent; }
  }

  slider {
    transition: background-color $shorter_duration $deceleration_curve,
                background-size $ripple_duration $deceleration_curve,
                background-image $ripple_opacity_duration $deceleration_curve;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto, 1000% 1000%;
    // border-radius: 100%;
    // background-color: $accent_color;

    @each $s, $as in ('', ''),
                    (':disabled', '-insensitive') {
      &#{$s} {
        $_url: 'assets/slider#{$as}#{$asset_suffix}';

        background-image: -gtk-scaled(url('#{$_url}.png'), url('#{$_url}@2.png'));
      }
    }

    background-size: calc(100% - 8px);

    &:hover { background-size: calc(100% - 4px); }

    &:active { background-size: calc(100% - 0px); }
  }

  // click-and-hold the slider to activate
  &.fine-tune {
    // to make the slider shrink in fine-tune mode
    slider { background-size: calc(100% - 12px); }
  }

  value { color: gtkalpha(currentColor, $hint_opacity); }

  marks {
    color: $track_color;

    @each $marks_class, $marks_pos, $marks_margin in (top, top, bottom),
                                                     (bottom, bottom, top),
                                                     (top, left, right),
                                                     (bottom, right, left) {
      &.#{$marks_class} {
        margin-#{$marks_margin}: $_marks_distance;
        margin-#{$marks_pos}: -($_marks_distance + $_marks_lenght);
      }
    }
  }

  &.horizontal {
    indicator {
      min-height: $_marks_lenght;
      min-width: 1px;
    }
  }

  &.vertical {
    indicator {
      min-height: 1px;
      min-width: $_marks_lenght;
    }
  }

  // *WARNING* scale with marks madness following

  @each $dir_class, $dir_infix in ('horizontal', 'horz'),
                                  ('vertical', 'vert') {
    @each $marks_infix, $marks_class in ('scale-has-marks-above', 'marks-before:not(.marks-after)'),
                                        ('scale-has-marks-below', 'marks-after:not(.marks-before)') {
      &.#{$dir_class}.#{$marks_class} {
        slider {
          @each $state, $state_infix in ('', ''),
                                        (':disabled', '-insensitive') {
            &#{$state} {
              $_scale_asset: 'assets/slider-#{$dir_infix}-#{$marks_infix}#{$state_infix}#{$asset_suffix}';

              background-image: -gtk-scaled(url('#{$_scale_asset}.png'), url('#{$_scale_asset}@2.png'));
            }
          }

          @if $dir_class == 'horizontal' {
            min-height: $marks_slider_size;
            min-width: $slider_size;

            @if $marks_infix == 'scale-has-marks-above' {
              margin-top: $marks_slider_margin;

              background-position: center calc(100% - 4px);

              &:hover { background-position: center calc(100% - 2px); }

              &:active { background-position: center calc(100% - 0px); }
            }

            @if $marks_infix == 'scale-has-marks-below' {
              margin-bottom: $marks_slider_margin;

              background-position: center calc(4px);

              &:hover { background-position: center calc(2px); }

              &:active { background-position: center calc(0px); }
            }
          }

          @if $dir_class == 'vertical' {
            min-height: $slider_size;
            min-width: $marks_slider_size;

            @if $marks_infix == 'scale-has-marks-above' {
              margin-left: $marks_slider_margin;

              background-position: calc(4px) center;

              &:hover { background-position: calc(2px) center; }

              &:active { background-position: calc(0px) center; }
            }

            @if $marks_infix == 'scale-has-marks-below' {
              margin-right: $marks_slider_margin;

              background-position: calc(100% - 4px) center;

              &:hover { background-position: calc(100% - 2px) center; }

              &:active { background-position: calc(100% - 0px) center; }
            }
          }
        }

        &.fine-tune slider {
          @if $dir_class == 'horizontal' {
            @if $marks_infix == 'scale-has-marks-above' { background-position: center calc(100% - 6px); }

            @if $marks_infix == 'scale-has-marks-below' { background-position: center calc(6px); }
          }

          @if $dir_class == 'vertical' {
            @if $marks_infix == 'scale-has-marks-above' { background-position: calc(6px) center; }

            @if $marks_infix == 'scale-has-marks-below' { background-position: calc(100% - 6px) center; }
          }
        }
      }
    }
  }

  &.color {
    min-height: 0;
    min-width: 0;

    &.horizontal {
      padding: 0 0 12px 0;

      slider {
        &:dir(ltr), &:dir(rtl) { // specificity bump
          margin-bottom: $color_slider_margin;
          margin-top: $color_marks_slider_margin;
        }
      }
    }

    &.vertical {
      &:dir(ltr) {
        padding: 0 0 0 12px;

        slider {
          margin-left: $color_slider_margin;
          margin-right: $color_marks_slider_margin;
        }
      }

      &:dir(rtl) {
        padding: 0 12px 0 0;

        slider {
          margin-right: $color_slider_margin;
          margin-left: $color_marks_slider_margin;
        }
      }
    }
  }
}


/*****************
 * Progress bars *
 *****************/
progressbar {
  // sizing
  &.horizontal {
    trough,
    progress { min-height: $bar_size; }
  }

  &.vertical {
    trough,
    progress { min-width: $bar_size; }
  }

  // FIXME: insensitive state missing and some other state should be set probably
  color: $tertiary_fg_color;
  font-size: smaller;

  trough { background-color: scale-alpha($primary_color, $lower_opacity); }

  progress { background-color: $primary_color; }

  &.osd { // progressbar.osd used for epiphany page loading progress
    // min-width: $bar_size;
    // min-height: $bar_size;
    // background-color: transparent;

    // trough { background-color: transparent; }

    progress {
    }
  }
}


/*************
 * Level Bar *
 *************/
levelbar {
  block {
    min-width: $medium_size;
    min-height: $bar_size;
  }

  &.vertical block {
    min-width: $bar_size;
    min-height: $medium_size;
  }

  trough {
    padding: 2px;
    border-radius: 2px;

    @include entry(normal);

    &:disabled { @include entry(disabled); }
  }

  &.horizontal.discrete block { margin: 0 1px; }

  &.vertical.discrete block { margin: 1px 0; }

  &.horizontal.discrete trough { padding: 2px 1px; }

  &.vertical.discrete trough { padding: 1px 2px; }

  block {
    &.low {
      background-color: $warning_color;
    }

    &.high,
    &:not(.empty) {
      background-color: $primary_color;
    }

    &.full {
      background-color: $success_color;
    }

    &.empty {
      background-color: $track_color;
      color: $disabled_fg_color;
    }
  }
}


/****************
 * Print dialog *
*****************/
printdialog {
  paper {
    padding: 0;
    border: 1px solid $borders_color;
    background: $base_color;
    color: $fg_color;
  }

  .dialog-action-box { margin: 12px; }
}


/**********
 * Frames *
 **********/
frame > border,
.frame {
  margin: 0;
  padding: 0;
  border: 1px solid $borders_color;
  border-radius: 0;
  box-shadow: none;

  &.flat { border-style: none; }
}

actionbar > revealer >  box {
  padding: $container_padding;
  border-top: 1px solid $borders_color;

  button:not(.suggested-action):not(.destructive-action):not(.server-list-button) { @extend %button_basic.flat; }
}

scrolledwindow {
  viewport.frame { // avoid double borders when viewport inside scrolled window
    border-style: none;
  }

  // This is used when content is touch-dragged past boundaries.
  // draws a box on top of the content, the size changes programmatically.
  @at-root overshoot {
    &.top { @include overshoot(top); }

    &.bottom { @include overshoot(bottom); }

    &.left { @include overshoot(left); }

    &.right { @include overshoot(right); }
  }

  // Overflow indication, works similarly to the overshoot, the size if fixed tho.
  @at-root undershoot {
    &.top { @include undershoot(top); }

    &.bottom { @include undershoot(bottom); }

    &.left { @include undershoot(left); }

    &.right { @include undershoot(right); }
  }

  @at-root junction { // the small square between two scrollbars
    border-style: solid none none solid;
    border-width: 1px;
    border-color: $borders_color;
    background-color: $base_color;

    &:dir(rtl) { border-style: solid solid none none; }
  }
}

//vbox and hbox separators
separator {
  min-width: 1px;
  min-height: 1px;
  background: $borders_color;
}


/*********
 * Lists *
 *********/
list {
  border-color: $borders_color;
  background-color: $base_color;

  row { padding: 2px; }
}

// FIXME
$row_transition: $longer_transition, background-color 0, color 0;

row {
  &.activatable {
    transition: $row_transition;
    background-image: none;

    &:hover {
      transition: none;
      background-image: none;
      background-color: $row_track_color;
    }

    &.has-open-popup, // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411
    &:active {
      transition: $row_transition,
                  background-size 0,
                  background-image 0;
      animation: row_ripple_effect $longer_duration $deceleration_curve forwards;
    }
  }

  &:selected { @extend %selected_items; &:hover { background-color: lighten($primary_color, 5%); } }
}

/*********************
 * App Notifications *
 *********************/
.app-notification {
  @extend %osd;
  @extend toolbar.osd;
  margin: 8px;
  border: none;

  button { @extend %button_basic.flat; }

  &.frame,
  border { border-style: none; }
}


/*************
 * Expanders *
 *************/
expander {
  arrow {
    transition: all $shorter_duration $standard_curve;
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    -gtk-icon-transform: rotate(-90deg);

    &:dir(rtl) { -gtk-icon-transform: rotate(90deg); }

    &:checked { -gtk-icon-transform: unset; }

    color: $secondary_fg_color;

    &:hover, &:active { color: $fg_color; }

    &:disabled { color: $disabled_secondary_fg_color; }

    &:selected {
      color: $secondary_inversed_fg_color;

      &:hover, &:active { color: $inversed_fg_color; }

      &:disabled { color: $disabled_secondary_inversed_fg_color; }
    }
  }
}


/************
 * Calendar *
 ***********/
calendar {
  padding: 2px 6px;
  border: 1px solid $borders_color;
  color: $fg_color;

  &:disabled { color: $disabled_fg_color; }

  &:selected {
    @extend %selected_items;
    border-radius: 2px + 1px;
  }

  &.header {
    border-style: none none solid;
    border-radius: 0;
  }

  &.button { @extend %simple_flat_button; }

  &.highlight {
    color: gtkalpha(currentColor, $hint_opacity);
    font-weight: 500;
  }

  &:indeterminate { color: gtkalpha(currentColor, $disabled_opacity); }
}


/***********
 * Dialogs *
 ***********/
messagedialog { // Message Dialog styling
  &.background { background-color: $lighter_bg_color; }

  .titlebar {
    min-height: $small_size;
    border-style: none;
    background-color: $lighter_bg_color;
    color: $fg_color;
    box-shadow: none;

    &:backdrop { color: $secondary_fg_color; }
  }

  .dialog-action-area {
    padding: 3px;
    button {
      @extend %simple_flat_button;
      padding: 4px 2px;
      border: 1px solid $borders_color;
    }
  }

  &.csd { // rounded bottom border styling for csd version
    &.background {
      // bigger radius for better antialiasing
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .dialog-action-area {
      padding: 0;

      button {
//        @extend %simple_flat_button;
        padding: 8px 16px;
        border-top: 1px solid $borders_color;
        border-radius: 0;

        &:first-child {
          &, &:hover, &:active, &:checked, &:disabled {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 0;
            border-left-style: none;
          }
        }

        &:last-child {
          &, &:hover, &:active, &:checked, &:disabled {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 0;
            border-right-style: none;
          }
        }
      }
    }

    @each $b_type, $b_color in (suggested-action, $suggested_color),
                               (destructive-action, $destructive_color) {
    .dialog-action-area button.#{$b_type} {
      color: $b_color;
      background-color: transparent;
      box-shadow: none;
      border-color: $borders_color;
      &:hover,
      &:checked {
          background-color: $b_color;
          color: $inversed_fg_color;
          border-color: $b_color;
        }
      &:disabled { opacity: 0.65; }
      }
    }
  }
}

filechooser {
  .dialog-action-box { border-top: 1px solid $borders_color; }

  #pathbarbox {
    border-bottom: 1px solid $borders_color;
    background-color: $bg_color;
  }
}

filechooserbutton:drop(active) {
  box-shadow: none;
}


/***********
 * Sidebar *
 ***********/
.sidebar {
  border: none;
  background-color: $lighter_bg_color;

  @at-root %sidebar_left,
  &:dir(ltr),
  &.left,
  &.left:dir(rtl) {
    border-right: 1px solid $borders_color;
    border-left-style: none;
  }

  @at-root %sidebar_right
  &:dir(rtl),
  &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  // remove background from child-elements
  .frame,
  list { background-color: transparent; }

  row { transition: none; }

  separator,
  .separator {
    min-height: 0;
    border-color: transparent;
    background-color: transparent;
  }

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) { list { @extend %sidebar_left; }}

    &:dir(rtl),
    &.right { list { @extend %sidebar_right; }}
  }

  row {
    padding: 10px 2px;
    transition: none;
    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label { @extend %needs_attention; }
  }
}


/****************
 * File chooser *
 ****************/
placessidebar {
  > viewport.frame { border-style: none; }

  list { padding: (4px - 3px) 0 4px; }

  row {
    // Needs overriding of the GtkListBoxRow padding
    min-height: 32px;
    margin: -1px 0; // Remove unknown margins
    padding: 0;

    // Using margins/padding directly in the SidebarRow
    // will make the animation of the new bookmark row jump
    > revealer { padding: 0 12px; }

    &:selected { color: $inversed_fg_color; }

    &:disabled { color: $disabled_fg_color; }

    image.sidebar-icon {
      opacity: $hint_opacity; // dim the device icons

      &:dir(ltr) { padding-right: 8px; }
      &:dir(rtl) { padding-left: 8px; }
    }

    label.sidebar-label {
      &:dir(ltr) { padding-right: 2px; }
      &:dir(rtl) { padding-left: 2px; }
    }

    @at-root button.sidebar-button {
      @extend %simple_flat_button;
      @extend %small_button;
      row:selected & {
      }
    }

    &.sidebar-placeholder-row {
      min-height: 2px;
      padding: 0 8px;
      background-image: image($accent_color);
      background-clip: content-box;
    }

    &.sidebar-new-bookmark-row { color: $accent_color; }

    &:drop(active):not(:disabled) {
      box-shadow: inset 0 0 0 2px $accent_color;

      &:selected {
        // background-color: $accent_color;
        // color: $inversed_fg_color;
      }
    }
  }
}

placesview {
  .server-list-button > image { -gtk-icon-transform: rotate(0turn); }

  .server-list-button:checked > image { -gtk-icon-transform: rotate(-0.5turn); }

  // this selects the "connect to server" label
  > actionbar > revealer > box > label {
    padding-left: 8px;
    padding-right: 8px;
  }
}


/*********
 * Paned *
 *********/
paned {
  > separator {
    min-width: 1px;
    min-height: 1px;
    -gtk-icon-source: none; // defeats the ugly default handle decoration
    border-style: none; // just to be sure
    background-color: transparent;
    // workaround, using background istead of a border since the border will get rendered twice (?)
    background-image: image($solid_borders_color);
    background-size: 1px 1px;

    &.wide {
      min-width: 6px;
      min-height: 6px;
      background-color: $bg_color;
      background-image: image($borders_color), image($borders_color);
      background-size: 1px 1px, 1px 1px;
    }
  }

  &.horizontal > separator {
    background-repeat: repeat-y;

    &:dir(ltr) {
      margin: 0 -8px 0 0;
      padding: 0 8px 0 0;
      background-position: left;
    }

    &:dir(rtl) {
      margin: 0 0 0 -8px;
      padding: 0 0 0 8px;
      background-position: right;
    }

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-y, repeat-y;
      background-position: left, right;
    }
  }

  &.vertical > separator {
    margin: 0 0 -8px 0;
    padding: 0 0 8px 0;
    background-repeat: repeat-x;
    background-position: top;

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-x, repeat-x;
      background-position: bottom, top;
    }
  }
}


/**************
 * GtkInfoBar *
 **************/
infobar {
  border-style: none;

  &.info { background-color: $info_bg_color; }

  &.question { background-color: $question_bg_color; }

  &.warning { background-color: $warning_bg_color; }

  &.error { background-color: $error_bg_color; }

  &.info,
  &.question,
  &.warning,
  &.error {
    > label, & { color: $inversed_fg_color; }

    button { @extend %selected_button; }

    *:link { @extend %link_selected; }
  }
}


//
// Buttons on selected backgrounds
//
%selected_button {

  & {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 1);
    border-color: transparentize($dark_contrast_color, 0.5);
  }

  &.flat {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 1);

    &:disabled {
      &, label { color: transparentize($dark_contrast_color, 0.6); }
    }
  }
  &:hover {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 0.8);
    border-color: transparentize($dark_contrast_color, 0.2);
  }
  &:active, &:active:hover, &:checked {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 0.9);
    border-color: transparentize($dark_contrast_color, 0.2);
  }
  &:disabled {
    &, label { color: transparentize($dark_contrast_color, 0.5); }
    background-color: transparentize($dark_contrast_color, 1);
    border-color: transparentize($dark_contrast_color, 0.6);

    &:active, &:checked {
      color: $dark_contrast_color;
      background-color: transparentize($dark_contrast_color, 0.5);
      border-color: transparentize($dark_contrast_color, 0.6);
    }
  }
}

/************
 * Tooltips *
 ************/
tooltip {
  &.background {
    // background-color needs to be set this way otherwise it gets drawn twice
    // see https://bugzilla.gnome.org/show_bug.cgi?id=736155 for details.
    background-color: scale-alpha($base_color, $higher_opacity);
  }

  // @extend %osd;

  // padding: 4px; /* not working */
  border-radius: 2px;
  box-shadow: none; // otherwise it gets inherited by windowframe.csd

  &:not(.csd) {
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 0;
    background-clip: $extra_background_clip;
  }

  // FIXME: we need a border or tooltips vanish on black background.
  decoration { background-color: transparent; }

  label {
    // tooltip label has already 6px margins
    min-height: 32px - 6px * 2;
    padding: 0 8px - 6px;
  }

  * {
    // workaround for Eclipse.
    // do not include any declaration here.
    // padding: 0;
    // background-color: transparent;
    // color: inherit;
  }
}


/*****************
 * Color Chooser *
 *****************/
colorswatch {
  // This widget is made of two boxes one on top of the other, the lower box is colorswatch {} the other one
  // is colorswatch overlay {}, colorswatch has the programmatically set background, so most of the style is
  // applied to the overlay box.

  // base color corners rounding
  // to avoid the artifacts caused by rounded corner anti-aliasing the base color
  // sports a bigger radius.
  // nth-child is needed by the custom color strip.

  &.top {
    border-top-left-radius: $md_radius + 0.5px;
    border-top-right-radius: $md_radius + 0.5px;

    overlay {
      border-top-left-radius: $md_radius;
      border-top-right-radius: $md_radius;
    }
  }

  &.bottom {
    border-bottom-left-radius: $md_radius + 0.5px;
    border-bottom-right-radius: $md_radius + 0.5px;

    overlay {
      border-bottom-left-radius: $md_radius;
      border-bottom-right-radius: $md_radius;
    }
  }

  &.left,
  &:first-child:not(.top) {
    border-top-left-radius: $md_radius + 0.5px;
    border-bottom-left-radius: $md_radius + 0.5px;

    overlay {
      border-top-left-radius: $md_radius;
      border-bottom-left-radius: $md_radius;
    }
  }

  &.right,
  &:last-child:not(.bottom) {
    border-top-right-radius: $md_radius + 0.5px;
    border-bottom-right-radius: $md_radius + 0.5px;

    overlay {
      border-top-right-radius: $md_radius;
      border-bottom-right-radius: $md_radius;
    }
  }

  &.dark overlay { color: $dark_contrast_color; }

  &.light overlay { color: $light_contrast_color; }

  &.dark { color: $dark_contrast_color; } // for focus ring

  &.light { color: $light_contrast_color; } // for focus ring

  &:drop(active) {
    box-shadow: none;
    background-color: $lighter_bg_color;

    &.light overlay {
      box-shadow: 0 0 0 2px $accent_color;
    }

    &.dark overlay {
      box-shadow: 0 0 0 2px $accent_color;
    }
  }

  overlay {
    transition: $shadow_transition;
    border: 1px solid $borders_color;
    box-shadow: none;
    &:hover { box-shadow: none; border: 1px solid darken($borders_color, 15%); background-color: rgba(white, 0.2); }
  }

  &#add-color-button {
    border-radius: $md_radius $md_radius 0 0;
    color: $dark_contrast_color; // for focus ring

    &:only-child { border-radius: $md_radius; }

    overlay {
      background-image: linear-gradient(to right,
                                        $error_bg_color 25%,
                                        $warning_bg_color 25%, $warning_bg_color 50%,
                                        $info_bg_color 50%, $info_bg_color 75%,
                                        $question_bg_color 75%);
      color: $dark_contrast_color;
    }
  }

  &:disabled {
    opacity: $disabled_opacity;

    overlay { box-shadow: none; }
  }

  row:selected & {
  }

  &#editor-color-sample {
    border-radius: $md_radius + 0.5px;

    overlay { border-radius: $md_radius; }

    // overlay:hover { box-shadow: $z-depth-1; }
  }
}

// colorscale popup
colorchooser .popover.osd {
  transition: $shadow_transition;
  border-radius: 2px;
  box-shadow:  $z-depth-2;
  background-color: $base_color;

  &:backdrop { box-shadow: $z-depth-1; }

  spinbutton:not(.vertical) { @extend %entry.flat; }
}


/********
 * Misc *
 ********/
//content view (grid/list)
.content-view {
  background-color: $bg_color;

  // &:hover { -gtk-icon-effect: highlight; }

  rubberband { @extend rubberband; }
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & button.flat {  //FIXME: quick hack, redo properly
  }

  button { // +/- buttons on GtkVolumeButton popup
  }
}


/**********************
 * Window Decorations *
 *********************/

decoration {
  transition: $shadow_transition;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 0 1px $borders_color, $z-depth-4, 0 8px 10px transparent;

  // FIXME rationalize shadows

  // this is used for the resize cursor area
  margin: 4px;

  &.background.ssd { border-radius: 2px 2px 0 0; }

  &:backdrop {
    // the transparent shadow here is to enforce that the shadow extents don't
    // change when we go to backdrop, to prevent jumping windows.
    // The biggest shadow should be in the same order then in the active state
    // or the jumping will happen during the transition.
    box-shadow: 0 0 0 1px gtkalpha($borders_color, 0.5), $z-depth-2, 0 8px 10px transparent;
  }

  .maximized &,
  .fullscreen &,
  .tiled & { border-radius: 0; }

  .popup & { box-shadow: none; }

  // server-side decorations as used by mutter
  .ssd & {
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 0 1px $borders_color, $z-depth-2;
  } //just doing borders, wm draws actual shadows

  .csd.popup & {
    border-radius: 0;
    box-shadow: 0 0 0 1px $borders_color, $z-depth-2;
  }

  tooltip.csd & {
    border-radius: 2px;
    box-shadow: $z-depth-2;
  }

  messagedialog.csd & {
    border-radius: 2px;
    // box-shadow: $z-depth-4, 0 16px 16px transparent;
    // &:backdrop { box-shadow: $z-depth-2, 0 16px 16px transparent; }
  }

  .solid-csd & {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 2px solid $headerbar_bg_color;
    background-color: $headerbar_bg_color;
    box-shadow: none;
  }
}

// catch all extend :)

%selected_items {
  background-color: $primary_color;

  @at-root %nobg_selected_items, & {
    color: $inversed_fg_color;

    &:disabled { color: $disabled_inversed_fg_color; }
  }
}

.monospace { font-family: monospace; }

/*****************
 * Title buttons *
 *****************/

$asset_suffix: if($variant=='dark', '-dark', ''); // use dark assets in dark variant
$darker_asset_suffix: if($headerbar=='dark', '-dark', $asset_suffix);

%title_buttons {
  button.titlebutton {
    &.close, &.maximize, &.minimize {
      margin: 0;
      padding: 0;
      min-width: 24px;
      min-height: 24px;
      animation: none;
      transition: none;
      box-shadow: none;
      border: none;
      color: transparent;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 20px;

//      &:backdrop { opacity: 1; }
    }

    // Load png assets for each button, Fix the Chrome window restore button bug
    @each $k in ('close', 'maximize', 'minimize') {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {

        &.#{$k}#{$l} { background-image: -gtk-scaled(url('assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}.png'),
                                                        url('assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}@2.png')); }
      }
    }
  }

  .fullscreen &,
  .maximized & {
    button.titlebutton {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {
      &.maximize#{$l} { background-image: -gtk-scaled(url('assets/titlebutton-restore#{$m}#{$darker_asset_suffix}.png'),
                                                      url('assets/titlebutton-restore#{$m}#{$darker_asset_suffix}@2.png')); }
      }
    }
  }
}

%_alt_title_buttons {

  button.titlebutton {
//      min-width: 20px;
//      min-height: 20px;

    &.maximize, &.minimize {
      margin-top: 0;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      background: none;

      &:hover {
        box-shadow: inset 0 2px $primary_color;
        color: currentColor;
        }

      &:active, &:checked {
        box-shadow: inset 0 2px $primary_color;
        color: gtkalpha(currentColor, $disabled_opacity);
        }

      &:backdrop { opacity: 0.7; }

    }

    &.close {
      border: none;
      border-radius: 0;
      background: none;

      &:hover {
        box-shadow: inset 0 2px lighten(red, 25%);
        color: currentColor;
        }

      &:active, &:checked {
        box-shadow: inset 0 2px lighten(red, 25%);
        color: gtkalpha(currentColor, $disabled_opacity);
        }

      &:backdrop { opacity: 0.7; }

    }
  }
}

headerbar,
.titlebar { @extend %title_buttons; }

/**********************
 * Touch Copy & Paste *
 *********************/
//touch selection handlebars for the Popover.osd above
cursor-handle {
  border-radius: $circular_radius;
  background-color: $accent_color;
  background-image: none;

  &.top:dir(ltr), &.bottom:dir(rtl) {
    padding-left: 6px;
    border-top-right-radius: 0;
  }

  &.bottom:dir(ltr), &.top:dir(rtl) {
    padding-right: 6px;
    border-top-left-radius: 0;
  }

  &.insertion-cursor:dir(ltr), &.insertion-cursor:dir(rtl) {
    -GtkWidget-text-handle-width: 24;
    -GtkWidget-text-handle-height: 30;

    $_url: 'assets/slider-horz-scale-has-marks-above#{$asset_suffix}';
    -gtk-icon-source: -gtk-scaled(url('#{$_url}.png'),
                                  url('#{$_url}@2.png'));
  }
}

.context-menu { font: initial; } // Decouple the font of context menus from their entry/textview

%circular_button,
button.circular { // FIXME: aggregate to buttons
  border-radius: 100px;
  -gtk-outline-radius: 100px;

  // label { padding: 0; }
}

%small_button {
  min-height: $small_size;
  min-width: $small_size;
  padding: 0;
  border-radius: $circular_radius;
  -gtk-outline-radius: $circular_radius;
}

// shortcut window keys
.keycap {
  min-width: 28px - 8px * 2;
  min-height: 28px - 2px;
  margin-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;

  border: solid 1px $borders_color;
  border-radius: 2px + 1px;
  box-shadow: inset 0 -2px $borders_color;
  background-color: $base_color;
  color: $fg_color;
  font-size: smaller;
}

*:drop(active) { // FIXME needs to be done widget by widget, this wildcard should really die
  transition: $longer_transition;
  box-shadow: $z-depth-1, inset 0 0 0 2px $accent_color;
  caret-color: $accent_color;
}

stackswitcher button.text-button { min-width: 100px; } // FIXME aggregate with buttons

stackswitcher button.circular,
stackswitcher button.text-button.circular { // FIXME aggregate with buttons
  min-width: $medium_size;
  min-height: $medium_size;
  padding: 0;
}


/*********
 * Emoji *
 *********/
popover.emoji-picker {
  padding: 4px;
}

// mimic tab style
button.emoji-section {
  margin-top: 4px;
  padding: 0 8px;
  min-width: 24px;
  min-height: $medium_size;
  outline-offset: -4px;
  box-shadow: none;

  &, &:hover, &:active, &:checked, &:disabled { @extend %linked; }

}

.emoji {
  min-width: 3em;
  min-height: 3em;
  padding: 0;
  // font-size: large;

  widget {
    transition: $shorter_transition;

    &:hover { font-size: larger; color: $primary_color; }
  }
}
